.swiper {
    width: 100%;
    height: 100%;
  }
  .mySwiper{
    background: #F9FCF8; 
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-button-next { 
    width: 60px;
    /* border: 1px solid red; */
    margin-top: 12%;
    margin-right: 8%;
    background-image: url(../../assets/next.PNG);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
   }
   .swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev { 
    width: 60px;
    /* border: 1px solid red; */
    margin-top: 12%;
    margin-left: 8%;
    background-image: url(../../assets/prev.PNG);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
   }
   .swiper-button-prev::after {
    display: none;
  }
  .div .icon1{
    transform-style: preserve-3d;
    transition: 0.2s;
  }
  .div:hover .icon1{
    transform: rotateY(180deg);
  }
  .btn{position: relative;}
    .btn::after{
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 0.175rem;
      background: #9AC3E1;
    }
    .btn-center{
      color: black;
      padding-bottom: 10px;
    }
    .btn-center::after{
      transform: scale(1, 1);
      transition: 0.3s ease;
    }
    .btn-center:hover::after{
      transform: scale(0.5,1);
    }